<ion-content>
  <ion-row>
    <ion-text id="legal_text">
      Legal Services
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-button [routerLink]="['/appointments']" id="appointment_button">
      <ion-icon name="calendar-number-outline"></ion-icon>
      View Appointment
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button [routerLink]="['/schedule']" id="schedule_button">
      <ion-icon name="calendar-outline"></ion-icon>
      Schedule with Attorneys
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button [routerLink]="['/faq']" id="faq_button">
      <ion-icon name="help-circle-outline"></ion-icon>
      FAQ
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button [routerLink]="['/resources']" id="resource_button">
      <ion-icon name="book-outline"></ion-icon>
      Resource Library
    </ion-button>
  </ion-row>
</ion-content>
