
<ion-content>
  <ion-row id="logo_row">
    <ion-row>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_f9rsghmo.json"  id = "left_arrows" background="transparent"  speed=".5"  style="width: 170px; height: 170px;"    autoplay></lottie-player>
    <!-- <img src="./assets/arrow-left.png" id="left_arrows" />-->
    </ion-row>
    <ion-row>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_1840xrzy.json"  id= "right_arrows" background="transparent"  speed=".5"  style="width: 170px; height: 170px;"    autoplay></lottie-player>
      <!--<img src="./assets/arrow-right.png" id="right_arrows" />-->
    </ion-row>
    <ion-row style="align-content: center;">
      <img src="./assets/cfgiLogo.svg" id="logo_img" />
    </ion-row>
  </ion-row>

  <ion-row>
    <ion-text id="cfgi_words">
      COMMUNITY FOR GLOBAL <br>INNOVATION
    </ion-text>
  </ion-row>

  <ion-row>
    <ion-text id="welcome_words">
      WELCOME
    </ion-text>
  </ion-row>
  
  <ion-row>
    <ion-input 
            placeholder="Email" 
            id="email_input"
            inputmode="email"
            required=true
            clearInput=true
            ></ion-input>
  </ion-row>
  <ion-row>
    <ion-input 
            placeholder="Password"
            id="password_input"
            required=true
            clearInput=true
            ></ion-input>
  </ion-row>
  <ion-row>
    <a [routerLink]="['/forgot-password']" id="forgot_password">
      Forgot Password?
    </a>
  </ion-row>

  <ion-row>
    <ion-button id="login_button" [routerLink]="['/tablinks']" expand="block">
      LOGIN
    </ion-button>
  </ion-row>
  <ion-row>
    <a [routerLink]="['/sign-up']" id="sign_up_button">
      Sign up&nbsp; <ion-icon name="chevron-forward-outline"></ion-icon>
    </a>
  </ion-row>

</ion-content>
