
<ion-content>
  <ion-button fill=clear [routerLink]="['/tablinks/request-aid']" id="back_button">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
    <ion-content overflow-scroll="true">
       <iframe id="JotFormIFrame-220387163810048" 
       title="Apply for Aid" 
       onload="window.parent.scrollTo(0,0)" 
       allowtransparency="true" 
       allowfullscreen="true" 
       allow="geolocation; microphone; camera" 
       src="https://form.jotform.com/220387163810048" 
       frameborder="0" 
       style=" min-width: 100%; height:100%; border:none;" > 
      </iframe> 
    </ion-content>
</ion-content>
