<ion-content class="ion-padding">
    <ion-row>
      <ion-button fill=clear [routerLink]="['/tablinks/legal']" id="back_button">
        <img src="./assets/back_button.png"/>
      </ion-button>
    </ion-row>

    <!--
    <ion-row id="waves_img">
      <img src="../assets/legalwave.png" />
    </ion-row>
    -->

    <ion-row id="legal_text">
      <ion-text>
        LEGAL
      </ion-text>
    </ion-row>

    <ion-row id="find_text">
      <ion-text>
        Find a CFGI Attorney For a Consulation
      </ion-text>
    </ion-row>

    <ion-row id="search_row">
      <ion-searchbar id="search_field"
           id="search_field"
           placeholder="Search for Lawyers"
           [(ngModel)]="searchTerm"
           showCancelButton="focus"
           animated>
      </ion-searchbar>
      <ion-button fill=clear id="filter_button">
        <ion-icon width="100%" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-row>
    
    <ion-row id="results">
      <ion-list>
        <ion-item *ngFor="let lawyer of lawyers | filter:searchTerm">
          <ion-card id="result_card"> 
            <ion-card-content>
              <table>
                <tr>
                  <td id="left"><img id="lawyer_avi" src= {{lawyer.image}}></td>
                  <td id="right"><ion-text id="lawyer_title">{{lawyer.fname}}</ion-text>
                    <ion-text id="lawyer_title">{{lawyer.lname}}</ion-text>
                    <ion-text *ngIf="lawyer.location" id="location"> {{lawyer.location}}<br> </ion-text>
                    <ion-text *ngIf="lawyer.languages" id="languages"> {{lawyer.languages}} </ion-text>
                  </td>
                </tr>
                <tr>
                  <td id="left">
                    <ion-button *ngIf="lawyer.linkedin" fill="clear" id="link" href= {{lawyer.linkedin}}><img id="icon" src="../assets/linkedin.png"></ion-button>
                    <ion-button *ngIf="lawyer.avvo" fill="clear" id="link" href= {{lawyer.avvo}}> <img id="icon" src="../assets/avvo.png"></ion-button>
                    <ion-text *ngIf="lawyer.phone" id="contact"><br><br><ion-icon size="small" name="call"></ion-icon>&nbsp;&nbsp;{{lawyer.phone}}<br></ion-text>
                    <ion-text id="hours"> Hours: {{lawyer.hours}}</ion-text>
                  </td>
                  <td id="right">
                    <ion-text id="about" >{{lawyer.about}}<br><br></ion-text>
                    <ion-text id="about" > Expertise: {{lawyer.expertise}}</ion-text>
                  </td>
                </tr>
                </table>
            </ion-card-content>
            <ion-card-content  *ngIf="lawyer.calendly">
              <!-- https://www.techiediaries.com/inappbrowser-ionic-v3/ -->
              <ion-button (click)="openWithCordovaBrowser(lawyer.calendly)" id="schedule_button" > Schedule with {{lawyer.fname}}</ion-button>
            </ion-card-content>

            <ion-card-content  id="no_calendly"  *ngIf ="lawyer.calendly === ''">
              <ion-text > Please contact {{lawyer.fname}} directly to check availability.</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-row>