<ion-content style="overflow:hidden">
  <ion-row>
    <ion-text id="apply_text">
      APPLY
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text id="emergency_text">
      Emergency <br> Financial Assistance
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text id="description_text">
      For any student in need of financial assistance for
      amenities such as transportation fees, food, and 
      emergency housing, we have an application  for 
      financial assistance thanks to the generosity of our donors*
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text id="terms_text">
      *Terms and conditions apply
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-button [routerLink]="['/apply-aid']" id="aid_button">
      APPLY NOW
    </ion-button>
  </ion-row>
  <ion-row>
    <!-- https://ionicframework.com/docs/v3/api/components/alert/AlertController/ -->
    <ion-button (click)="showAlert()" fill="clear" id="terms_button">
      <ion-text>
        TERMS AND CONDITIONS
      </ion-text>
    </ion-button>
  </ion-row>

  <!--
  <ion-card>
    <ion-card-title>
      APPLY
    </ion-card-title>
    <ion-card-subtitle>
      EMERGENCY FINANCIAL ASSISTANCE
    </ion-card-subtitle>
    <ion-card-content>
      For any student in need of financial assistance for
      amenities such as transportation fees, food, and 
      emergency housing, we have an application  for 
      financial assistance thanks to the generosity of our donors*
    </ion-card-content>
    <ion-card-content>
      *Terms and conditions apply
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-button>
      APPLY NOW
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-button>
      TERMS AND CONDITIONS
    </ion-button>
  </ion-row>
</ion-content>

-->