<ion-content style="overflow:hidden">
  <ion-grid>
    <ion-row>
      <img src="./assets/arrow-left.svg" id="left_arrows" />
    </ion-row>
    <ion-row>
      <img src="./assets/arrow-right.svg" id="right_arrows" />
    </ion-row>
    <ion-row>
      <ion-text id="inspired_title">
        Inspired to Give
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-text id="donate_title">
        Donate <br> Now
      </ion-text>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_m3jxbvag.json"  id="donate_img" background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
      <!--<img src="./assets/donation-box.svg" id="donate_img"/>-->
    </ion-row>
    <ion-row>
      <ion-text id="donate_description">
        With your donation, <br>we can continue to support <br>
        international students with <br>financial assistance, 
        legal help, <br>and job opportunities, so that they can stay and thrive in the United States.
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-button id="donate_button" href="https://www.paypal.com/donate?hosted_button_id=SXQDLBKH55C42">
        Donate
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-text id="donate_footer_text">
        HELP INTERNATIONAL STUDENTS <br>REACH FOR THE AMERICAN DREAM
      </ion-text>
      <ion-icon id="sun_img" name="sunny-outline"></ion-icon>
    </ion-row>
  </ion-grid>