#back_button {
    position: absolute;
    top:5%;
    color: black;
}

#logo_img {
    position: absolute;
    width: 80%;
    top:18%;
    max-height: 25%;
    right: 10%;
    left:10%;
}

#forgot_text {
    position: absolute;
    width: 75%;
    left:12.5%;
    top:35%;

    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    font-family: 'Righteous', normal;
    font-weight: normal;
    font-size: 7vmin;
    line-height: 7vmin;
    /* or 38px */
    align-items: center;
    text-align: center;

    color: #3F3356;
}

#description_text {
    position: absolute;
    width: 80%;
    left:10%;
    top:41%;

    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 4.3vmin;
    line-height: 120%;
    /* or 38px */
    align-items: center;
    text-align: left;

    color: #3F3356;
}

#email_input {
    position: absolute;
    width: 70%;
    height: 5%;
    left:15%;
    top:53%;
    
    background-color: #ffffff;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 3.5vmin;
    --padding-start: 5%;
}

#continue_button {
    position: absolute;
    width: 70%;
    height: 7%;
    right:15%;
    top:60%;

    @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

#shapes_img {
    position: absolute;
    scale:1.3;
    width: 100%;
    left:-10%;
    bottom: -25%;
}


ion-row {
    width: 100%;
}
