<ion-content>
  <ion-row>
    <ion-button fill=clear [routerLink]="['/login']" id="back_button">
      <img src="./assets/back_button.png"/>
    </ion-button>
  </ion-row>
  <ion-row style="align-content: center;">
    <img src="./assets/logo-full.png" id="logo_img" />
  </ion-row>

  <ion-row>
    <ion-text id="forgot_text">
      Forgot Your Password
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text id="description_text">
      To reset your password please enter the email
       that you used to register for CFGI.
    </ion-text>
  </ion-row>

  <ion-row>
    <ion-input 
            placeholder="Email" 
            id="email_input"
            inputmode="email"
            required=true
            clearInput=true
            ></ion-input>
  </ion-row>

  <ion-row>
    <ion-button id="continue_button" [routerLink]="['/login']" expand="block">
      CONTINUE
    </ion-button>
  </ion-row>

  <ion-row style="align-content: center;">
    <img src="./assets/waveShapes.png" id="shapes_img" />
  </ion-row>
