<ion-header></ion-header>
<ion-content padding>
  <ion-text>
    Whats New
  </ion-text>

  <ion-slides [options]="{ slidesPerView: 'auto', scrollbar: true, zoom: false, grabCursor: true }">
    <ion-slide style="width: 375px; border: 10px solid #ffffff">
      <ion-col>
        <ion-card>
          <img src="./assets/builtInAmerica.png" />
        </ion-card>
      </ion-col>
    </ion-slide>

    <ion-slide style="width: 400px; border: 10px solid #ffffff">
      <ion-col>
        <ion-card>
          <img src="./assets/immigrationStories.png" />
        </ion-card>
      </ion-col>
    </ion-slide>
  </ion-slides>


  <ion-text>
    About Us
  </ion-text>

  <ion-content padding>
    <ion-slides [options]="{ slidesPerView: 'auto', scrollbar: true, zoom: false, grabCursor: true }">
      <ion-slide style="border: 10px solid #ffffff">
        <ion-col>
          <ion-card style="height: 400px">
            <ion-card-header>
              <ion-card-title>What We Do</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              International students are struggling with all the recent uncertainty around policy changes and the threat of deportation, many don't know where to turn.
            </ion-card-content>
            <ion-card-content>
              We are a non-profit organization that provides a list of companies that hire foriegn nationals. We offer qualifying students need-based financial assistance, an online networking community in addition to volunteering opportunities to gain work experience.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>

      <ion-slide style="width: 400px; border: 10px solid #ffffff">
        <ion-col>
          <ion-card style="height: 400px">
            <ion-card-header>
              <ion-card-title>Our Founders</ion-card-title>
            </ion-card-header>
            <ion-row>
              <ion-col>
                <ion-avatar> 
                  <img src="./assets/Sophie.png"/>
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-avatar> 
                  <img src="./assets/David.png"/>
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-content>
                  Sophie Alcorn
                </ion-card-content>
              </ion-col>
              <ion-col>
                <ion-card-content>
                  David Vargas
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
    

