<ion-content padding>
  <!-- List containes all home page items, making it easy to add components in the future -->
  <ion-list>
    <!-- Insert row to bring page content below the header -->
    <ion-item>
      <ion-row id="row1"></ion-row>
    </ion-item>

    <!-- What's New Slide Deck -->
    <ion-slides shape = "square" id="squareSlides" [options]="{slidesPerView: 1, zoom: true, grabCursor: true}" pager>
      <ion-slide id = "built_in_America">
        <ion-col>
          <ion-card>
            <img src="./assets/builtInAmerica.png" />
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id = "slide_Version2">
        <ion-col>
          <ion-card>
            <img src="./assets/immigrationStories.png" />
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>

    <!-- About Us Section Title -->
    <img  style="padding-top:10%" id= "about_us_decor" src="./assets/yellowLine.png" />
    <ion-row>
      <ion-text id = "about_us_title">
        ABOUT US
      </ion-text>
    </ion-row>
      

    <!-- What we Do card-->
    <ion-card id = "alignCenter">
      <ion-card-header>
        <ion-card-title>WHAT WE DO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        International students are struggling with 
        all the recent uncertainty around policy 
        changes and the threat of deportation, 
        many don't know where to turn.
      </ion-card-content>
      <ion-card-content>
        We are a non-profit organization that provides 
        a list of companies that hire foriegn nationals. 
        We offer qualifying students need-based financial 
        assistance, an online networking community in 
        addition to volunteering opportunities to gain 
        work experience.
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-row id="height75">
        <ion-col>
          <img id = "wavy_lines" src="./assets/wavyLines.png" />
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list>
    <!-- Famous Immigrants Section: -->
    <!-- Information transferred from the website @ cfgi.world -->
    <ion-row style="padding-top:5%">
      <ion-col>
        <img id="famousImmigrantPicture" src="./assets/sunrise_shape.png" />
      </ion-col>
    </ion-row>
    
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-text id = "famous_immigrants_title">
            Famous Immigrants
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row id="height50">
        <div style="text-align:center">
          <ion-text id = "in_history2_title">
            IN U.S. HISTORY
          </ion-text>
          <ion-text id = "in_history_title">
            IN U.S. HISTORY
          </ion-text>
        </div>
      </ion-row>
    </ion-item>
    <ion-row style="padding-top: 5%">
      <ion-col>
        <div>
          <ion-text id = "famous_immigrants_description">
            In the past, we have always drawn strength from the brightest and most dedicated people coming here and reaching for the American dream. Many of the world's most productive scientists and engineers are foreign-born, so the United States is always at the forefront of global innovation.  Here are some you may already know:
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>


  <ion-row style="padding-top: 25%" id="immagrantSlideDeck">
    <swiper [config]="swiperConfig2" id="height90vh">
      <ng-template *ngFor="let immigrant of immigrants" swiperSlide id="border5">
        <ion-col >
          <ion-card id="width100">
            <img src={{immigrant.photo}} />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">{{immigrant.name}}</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">{{immigrant.country}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              {{immigrant.about}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-template>
      <div class="swiper-pagination"></div>
    </swiper>
  </ion-row>
      
  <!-- Whos helping title-->
  <ion-row id="partners_row">
    <ion-text id= "partners_text">PARTNERS</ion-text>
  </ion-row>
  <ion-row id="whos_helping_row">
    <ion-text id= "whos_helping_text">Who's helping</ion-text>
  </ion-row>
  
  <ion-item>
    <ion-card id="partners_card">
      <ion-card-content>
        Take a look at the companies that are supporting diversity in recruitment. They believe everyone should have an equal opportunity to succeed.<br><br>Does your company want to be on this list?
      </ion-card-content>
      <swiper [config]="swiperConfig" [loop]="true">
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/Alcorn.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/pranos.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/fyusion.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/welcoming_amrica.png"></div>
        </ng-template>
      </swiper>
    </ion-card>
  </ion-item>

  <!-- Meet the founders title-->
  <ion-row id="meet_row">
    <ion-text id= "meet_text">MEET</ion-text>
  </ion-row>
  <img id= "founders_decor" src="./assets/yellowLine.png" />
  <ion-row id="founders_row">
    <ion-text id= "founders_text">The Founders</ion-text>
  </ion-row>

  <!-- Founders card -->
  <ion-item>
    <ion-card id="founders_card">
      <ion-row style="height:100%">
        <ion-col style="height:100%; padding-top:5%; padding-left:5%">
          <ion-card-content style="padding-bottom:30%">
            <img id="david_img" src="./assets/David.png"/>
          </ion-card-content>
          <ion-text id="david_text">
            David<br>Vargas
          </ion-text>
        </ion-col>
        <ion-col style="height:100%; padding-top:40%; padding-right:5%">
          <ion-card-content style="padding-bottom:30%">
            <img id="sophie_img" src="./assets/Sophie.png"/>
          </ion-card-content>
          <ion-text id="sopie_text">
            Sophie<br>Alcorn
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
  </ion-list>
</ion-content>

