<ion-content padding>
  <!-- List containes all home page items, making it easy to add components in the future -->
  <ion-list>
    <!-- Insert row to bring page content below the header -->
    <ion-item>
      <ion-row id="row1"></ion-row>
    </ion-item>

    <!-- What's New Slide Deck -->
    <ion-slides shape = "square" id="squareSlides" [options]="{slidesPerView: 1, zoom: true, grabCursor: true}" pager>
      <ion-slide id = "built_in_America">
        <ion-col>
          <ion-card>
            <img src="./assets/builtInAmerica.png" />
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id = "slide_Version2">
        <ion-col>
          <ion-card>
            <img src="./assets/immigrationStories.png" />
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>

    <!-- About Us Section Title -->
    <img  style="padding-top:10%" id= "about_us_decor" src="./assets/yellowLine.png" />
    <ion-row>
      <ion-text id = "about_us_title">
        ABOUT US
      </ion-text>
    </ion-row>
      

    <!-- What we Do card-->
    <ion-card id = "alignCenter">
      <ion-card-header>
        <ion-card-title>WHAT WE DO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        International students are struggling with 
        all the recent uncertainty around policy 
        changes and the threat of deportation, 
        many don't know where to turn.
      </ion-card-content>
      <ion-card-content>
        We are a non-profit organization that provides 
        a list of companies that hire foriegn nationals. 
        We offer qualifying students need-based financial 
        assistance, an online networking community in 
        addition to volunteering opportunities to gain 
        work experience.
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-row id="height75">
        <ion-col>
          <img id = "wavy_lines" src="./assets/wavyLines.png" />
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-list>
    <!-- Famous Immigrants Section: -->
    <!-- Information transferred from the website @ cfgi.world -->
    <ion-row style="padding-top:5%">
      <ion-col>
        <img id="famousImmigrantPicture" src="./assets/sunrise_shape.png" />
      </ion-col>
    </ion-row>
    
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-text id = "famous_immigrants_title">
            Famous Immigrants
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row id="height50">
        <div style="text-align:center">
          <ion-text id = "in_history2_title">
            IN U.S. HISTORY
          </ion-text>
          <ion-text id = "in_history_title">
            IN U.S. HISTORY
          </ion-text>
        </div>
      </ion-row>
    </ion-item>
    <ion-row style="padding-top: 5%">
      <ion-col>
        <div>
          <ion-text id = "famous_immigrants_description">
            In the past, we have always drawn strength from the brightest and most dedicated people coming here and reaching for the American dream. Many of the world's most productive scientists and engineers are foreign-born, so the United States is always at the forefront of global innovation.  Here are some you may already know:
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>


  <ion-row style="padding-top: 25%" id="immagrantSlideDeck">
    <ion-slides id="height90vh" [options]="{centeredSlides: true, slidesPerView: 1.5, zoom: true, grabCursor: true }" pager>
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/albertEinstein.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">ALBERT EINSTEIN</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">GERMANY</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              One of the most recognized and well-known scientists of the century.
              His theories solved centuries-old-problems in physics and rocked even non-physicists' view of the world. E= mc2
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/chien-shiungWu.png"/>
            <ion-card-header>
              <ion-card-title id = "immigrant_title">CHIEN-SHIUNG WU</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">CHINA</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Chinese-American nuclear physicist Chien-Shiung Wu, also known as "the First Lady of Physics,” contributed to the Manhattan Project and made history with an experiment that disproved the hypothetical law of conservation of parity.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/nikolaTesla.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">NIKOLA TESLA</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">SERBIA</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Futurist who illuminated the earth electrically bright due to his immense contributions in designing the very back-bone of every modern electric supply of today – the alternating current.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/ceciliaPayne.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">CECILIA PAYNE</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">ENGLAND</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Cecilia Payne discovered that stars are made largely of the two lightest chemical elements – hydrogen and helium. She was the most eminent female astronomer of her time, the first to be appointed full professor at Harvard University, and the first to chair a department.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/bobMarley.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">BOB MARLEY</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">JAMAICA</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Considered one of the pioneers of reggae music. Bob was a freedom fighter he used his Pen instead of gun. He fought for freedom, peace, and equal rights. Marley received The United Nations Peace Medal. Marley’s “One Love” was proclaimed as Song of the Millennium.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/gertyCori.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">GERTY CORI</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">CZECH</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Carbohydrate research not only led to the development of treatments for diabetes, it also made them winners of the 1947 Nobel Prize in physiology or medicine, and Gerty the first American woman Nobel laureate in science.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/josephPulitzer.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">JOSEPH PULITZER</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">HUNGARY</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Best known for the Pulitzer Prizes, which were established in 1917. He was American newspaper editor and publisher who helped to establish the pattern of the modern newspaper. In his time he was one of the most powerful journalists in the United States.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
  
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/mariaMayner.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">MARIA MAYNER</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">GERMANY</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              German-born American theoretical physicist, and Nobel laureate in Physics for proposing the nuclear shell model of the atomic nucleus. She was the second woman to win a Nobel Prize in physics, the first being Marie Curie.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      
      <ion-slide id="border5">
        <ion-col>
          <ion-card id="width100">
            <img src="./assets/hedyLamarr.png" />
            <ion-card-header>
              <ion-card-title id = "immigrant_title">HEDY LAMARR</ion-card-title>
              <ion-card-subtitle id = "immigrant_subtitle">AUSTRIA</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content id = "immigrant_content">
              Frequency hopping a way of jumping around on radio frequencies in order to avoid a third party jamming your signal. Avid inventor and the person behind advances advances in communication technology that led to today’s Wi-Fi, GPS, and Bluetooth.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-row>

  <!-- Whos helping title-->
  <ion-row id="partners_row">
    <ion-text id= "partners_text">PARTNERS</ion-text>
  </ion-row>
  <ion-row id="whos_helping_row">
    <ion-text id= "whos_helping_text">Who's helping</ion-text>
  </ion-row>
  
  <ion-item>
    <ion-card id="partners_card">
      <ion-card-content>
        Take a look at the companies that are supporting diversity in recruitment. They believe everyone should have an equal opportunity to succeed.<br><br>Does your company want to be on this list?
      </ion-card-content>
      <swiper [config]="swiperConfig">
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/Alcorn.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/pranos.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/fyusion.png"></div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="slide-container"><img src="./assets/welcoming_amrica.png"></div>
        </ng-template>
      </swiper>
    </ion-card>
  </ion-item>

  <!-- Meet the founders title-->
  <ion-row id="meet_row">
    <ion-text id= "meet_text">MEET</ion-text>
  </ion-row>
  <img id= "founders_decor" src="./assets/yellowLine.png" />
  <ion-row id="founders_row">
    <ion-text id= "founders_text">The Founders</ion-text>
  </ion-row>

  <!-- Founders card -->
  <ion-item>
    <ion-card id="founders_card">
      <ion-row style="height:100%">
        <ion-col style="height:100%; padding-top:5%; padding-left:5%">
          <ion-card-content style="padding-bottom:30%">
            <img id="david_img" src="./assets/David.png"/>
          </ion-card-content>
          <ion-text id="david_text">
            David<br>Vargas
          </ion-text>
        </ion-col>
        <ion-col style="height:100%; padding-top:40%; padding-right:5%">
          <ion-card-content style="padding-bottom:30%">
            <img id="sophie_img" src="./assets/Sophie.png"/>
          </ion-card-content>
          <ion-text id="sopie_text">
            Sophie<br>Alcorn
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
  </ion-list>
</ion-content>

